.movies__more {
    border: none;
    margin: 50px auto 80px;
    width: calc(100% - 140px);
    background: #F9F9F9;
    border-radius: 6px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    height: 36px;
    cursor: pointer;
}

@media screen and (max-width: 1152px) {
    .movies__more {
        max-width: calc(100% - 60px);
    }
}

@media screen and (max-width: 520px) {
    .movies__more {
        max-width: calc(100% - 20px);
    }
}