.cards {
    list-style-type: none;
    padding: 0;
    display: grid;
    margin: 70px auto 0;
    padding-bottom: 30px;
    max-width: calc(100% - 140px);
    column-gap: 24px;
    row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1152px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 36px;
    }

    .cards__more {
        max-width: calc(100% - 60px);
    }
}

@media screen and (max-width: 768px) {
    .cards {
        max-width: calc(100% - 60px);
    }
}

@media screen and (max-width: 520px) {
    .cards {
        max-width: calc(100% - 20px);
        grid-template-columns: 1fr;
        margin: 40px auto 30px;
        row-gap: 16px;
    }

    .cards__more {
        max-width: calc(100% - 20px);
    }
}