.card {
    max-width: 100%;
    display: grid;
    grid-template-rows: 68px 203px;
    overflow: hidden;
    position: relative;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.card__about-container {
    background-color: #FDFDFD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card__text {
    display: flex;
    flex-direction: column;
}

.card__name {
    max-width: 270px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 14px 0 9px 14px;
    padding: 0;
    text-overflow: ellipsis;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
}

.card__time {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0 0 14px 14px;
    padding: 0;
}

.card__save-btn {
    background-image: url("../../../images/save-btn.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 30px;
    min-height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s ease;
    padding: 0;
    margin: 19px 14px 19px 0;
}

.card__save-btn:hover {
    opacity: 0.5;
}

.card__save-btn_active {
    background-image: url("../../../images/save-btn-active.svg");
}

.card__save-btn_active:hover {
    opacity: 0.5;
}

.card__save-btn_delete {
    background-image: url("../../../images/delete-movie-btn.svg");
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1152px) {
    .card {
        grid-template-rows: 68px 190px;
    }

    .card__name {
        max-width: 260px;
    }
}

@media screen and (max-width: 800px) {
    .card__name {
        max-width: 240px;
    }
}

@media screen and (max-width: 680px) {
    .card__name {
        max-width: 210px;
    }
}

@media screen and (max-width: 620px) {
    .card__name {
        max-width: 180px;
    }
}

@media screen and (max-width: 555px) {
    .card__name {
        max-width: 160px;
    }
}

@media screen and (max-width: 520px) {
    .card {
        grid-template-rows: 68px 168px;
    }

    .card__name {
        max-width: 210px;
    }
}